<!-- Checked CSS at class& multiple ngClass CSS properties worked or not-->

<!--
  <h1 [class.gray]="h1Style">Home</h1>
 -->

<!--
<h1 [ngClass]="{  'gray': h1Style,  'large': !h1Style}">Home</h1>
-->

<!--  Inline CSS & Also ngstyle for  multiple CSS propeties -->

<!--
  <h1 [style.color]="h1Style ? 'gray' : 'black'">Home</h1>
-->
<!--
<h1 [ngStyle]="{
  'color': h1Style ? 'gray' : 'black',
  'font-size': !h1Style ? '1em': '4em'
}">Home</h1>

<button (click)="firstClick()"> Click me </button>
-->
<p>Home works</p>
<h1>Home</h1>

<!--
<ul *ngIf="users">
  <li *ngFor="let user of users data">
    <img [src]="user.avatar">
    <p>{{ user.first_name}} {{user.first_name</p>
  </li>
</ul>
-->
